//colour palette

$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$default-font-size:17px;

$max-width:1200px;
$min-width:300px;

//breakpoint
$break-small:700px;
$break-large:970px;
//between the side of the browser and the content
$gutter-padding:2em;