@include font-face('Didactic', 'Didactic-Regular', 'Didactic', 'serif');

body{
	color:$secondary-text-color;
	font-family: Arial;
	margin: 0;
	font-size:$default-font-size;
}

header, main{
	max-width:$max-width;
	min-width: $min-width;
	margin: 0 auto;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 25px;
	margin-bottom:10px;
}

h3{
	font-size: 21px;
	margin-top:10px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 17px;
}