@include font-face('Didactic', 'Didactic-Regular', 'Didactic', 'serif');

body{
	color:$secondary-text-color;
	font-family: Arial;
	margin: 0;
	font-size:$default-font-size;
	//from html boilerplate
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

header, main{
	max-width:$max-width;
	min-width: $min-width;
	margin: 0 auto;
	padding-left:$gutter-padding;
	padding-right:$gutter-padding;
}


h1{
	font-size: 50px;
}

h2{
	font-size: 25px;
	margin-bottom:10px;
}

h3{
	font-size: 21px;
	margin-top:10px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 17px;
}

//more html boilerplate
img { -ms-interpolation-mode: bicubic; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
@media print {
	img { max-width: 100% !important; }
}