.round-button{
	width: 60px;
	height: 60px;
	border-radius: 40px;	
	border:none;
	outline:none;
	&:before{
 		transition:transform 0.5s;
 	}
	&:focus,&:hover{
		&:before{
			-webkit-transform:rotate(360deg);
		    transform:rotate(360deg);	
		}
	}
}

.blue-round-button{
	@extend .round-button;
	background-color: $accent-color;
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;
	@include box-shadow-helper(3);
	outline:none;

	&:focus,&:hover{
		 @include box-shadow-helper(5);
		-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		transform: translateY(-5px);
		background: darken($accent-color, 15%);
	}
	&:active{
		background: darken($accent-color, 30%);
	}
}