.portfolio-header{
	background-color:$primary-color;
	border-top: solid 25px $primary-color-dark;
	padding:5px $gutter-padding 20px $gutter-padding;
	.main-heading{
		font-family: "Didactic";
		color:$primary-color-text;
	}
	.sub-heading{
		color:$primary-color-light;
		font-size:20px;
		font-weight:normal;
	}
	position:relative;
}

.toggle-nav{
	position:relative;
	@extend .blue-round-button;
	position:absolute;
	bottom:-30px;
	right:10px;
	z-index:2;
}

.open-navigation{
	@extend .toggle-nav;
	@include add-icon(1,1,$top:10px,$right: 10px);
}

.close-navigation{
	@extend .toggle-nav;
	@include add-icon(2,1,$top:10px,$right: 10px);
}

.home-link{
	@extend .blue-round-button;
	position:absolute;
	top:-14px;
	right:10px;
	z-index:2;
	@include add-icon(1,2,$top:10px,$right: 9px);
}