.two-column-image-wrap{
	margin-bottom: $paragraph-margin; 
	overflow: auto;
	@media(min-width:$break-small){
		.project-page-image{
			width:50%;
			&:first-child{
				float:left;
			}
			&:last-child{
				float:right;
			}
		}
	}
}

.profile-picture{
	width:150px;
	height:150px;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}