.hashtag-list{
	list-style: none;
	margin:0;
	padding:0;
	margin-bottom:20px;
}

.hashtag-item{
	display:inline-block;	
	color:$accent-color;
	font-weight: bold;
	margin-right: 5px;
  	line-height: 1.4em;
}