.client-name{
	color:$secondary-text-color;
}

.project-name{
	@extend .prominant-title;
}

.project-detail-list{
	list-style: none;
	margin: 0;
  	padding: 0;
}

.project-thumbnail{
	width:100%;
	height:auto;
}

.project-info{
	padding: 10px 20px;
}

.no-image-available-text{
	position: absolute;
	top: 40px;
	left: 30px;
	width: 80%;
	font-weight: bold;
	font-size:20px;
	color: $secondary-text-color;
	text-align: center;
	display: none;	
}
@media (min-width: $break-small) {
	.project-thumbnail{
		width:50%;
		vertical-align: top;
	}
	.project-info,.no-image-available-text{
		width:40%;
	}
	.project-info{
		display:inline-block;
		vertical-align: top;
	}
}

.project-link{
	color:$primary-text-color;
	text-decoration: none;
	color: $primary-text-color;
	text-decoration: none;

	border: solid 1px $divider-color;
	
	margin:15px 0;
	position: relative;
	display: block;
	&:hover{
		 background-color: rgba(182, 182, 182, 0.19);
		 .project-thumbnail{
		 	opacity: 0.3;
		 }
		 .no-image-available-text{
		 	display:block;
		 }
	}

	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;
	@include box-shadow-helper(1);
	outline:none;

	&:hover,&:focus {
	 @include box-shadow-helper(3);
	  -webkit-transform: translateY(-5px);
	  -moz-transform: translateY(-5px);
	  transform: translateY(-5px);
	}
}

