<h3>Recent projects</h3>
<ul  class="project-detail-list" >
    <li class="project-detail-item" ng-repeat="project in projects">
    	<a  ui-sref="projectdetail({id:project.id})" href="#" class="project-link">
    		<img  class="project-thumbnail" src="https://placekitten.com/300/230?image={{::$index}}" alt="Thumbnail of the {{::project.name}} website">	
    		<section class="project-info">
				<projectinfo project="project"></projectinfo>
		    	<span class="no-image-available-text">Sorry, no image available. So here's a kitten.</span>
		    	
	    	</section>
    	</a>
	</li>
</ul>